@font-face {
	font-family: 'Wayhem Free Version';
	src: url("../fonts/Wayhem Free Version.otf");
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#drawingCanvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: 500px; */
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.backbutton {
	border-radius: 20px;
	border: 1px solid #bd74ed;
	background-color: #bd74ed;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	font-family: 'Wayhem Free Version', sans-serif;   
  cursor:pointer;
}


.backbutton:active {
	transform: scale(0.95);
}

.backbutton:focus {
	outline: none;
}

.backbutton.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.promp {
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
}

.tool-bar {
    display: flex;
    width: 100%;
    align-items: center;
}

.tools {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
}

.but {
    position: relative;
    width: 20px; 
    background-color: #fcfcfc; 
    border: none; 
    padding: 10px 20px; 
    display: inline-block;
    margin-right: 1%;
    cursor: pointer; 
    border-radius: 15px; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.img {
    width: 20px; 
    height: 20px; 
}
.hover-text {
    position: absolute; 
    bottom: -20px; 
    left: 50%; 
    transform: translateX(-50%); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}
.but:active { 
    box-shadow: none; 
    background-color: #ddd; 
}
.but:hover .hover-text {
    opacity: 1; 
}
.but #check-img {
    margin-left: -10px;
}
#colorPicker {
    border: none;
}
.color-dropdown {
    display: none;
    position: absolute;
    margin-left:30%;
    margin-top: 5%;
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.but2{
    position: relative;
    width: 60px; 
    background-color: #fcfcfc; 
    border: none; 
    padding: 10px 20px; 
    display: inline-block;
    margin-right: 1%;
    cursor: pointer; 
    border-radius: 15px; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Wayhem Free Version', sans-serif;   

}
.but2:active { 
    box-shadow: none; 
    background-color: #ddd; 
}
.but2:hover .hover-text {
    opacity: 1; 
}

.canvas-container{
    display: flex;
    align-items: center;
}

.example{
    width: 44%;
    margin-left: 5px;
    border: 2px solid black;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #fac6da;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
