@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@font-face {
	font-family: 'Wayhem Free Version';
	src: url("../fonts/Wayhem Free Version.otf");
}
*{
	font-family: 'Wayhem Free Version', sans-serif;   
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.backbutton {
	border-radius: 20px;
	border: 1px solid #bd74ed;
	background-color: #bd74ed;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	font-family: 'Wayhem Free Version', sans-serif;   
  cursor:pointer;
}


.backbutton:active {
	transform: scale(0.95);
}

.backbutton:focus {
	outline: none;
}

.backbutton.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
.friend1{
    width: 250px;
    position: absolute;
    padding-left: -300px;
}

.friend2{
    width: 230px;
    position: absolute;
    margin-left: 1230px;
    margin-top: 500px;
}

.container{
    padding:15px 9%;
    padding-bottom: 100px;
}

.heading{
    text-align: center;
    padding-bottom: 15px;
    color:#000;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.container .box-container{
    margin-top: 50px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:15px;
}

.container .box-container .box{
    border-radius: 5px;
    background: transparent;
    text-align: center;
    height: 50px;
    padding: 0; 
    overflow: hidden;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.container .box-container .box h3{
    color:#444;
    font-size: 44px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#000;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.8;
}

.add::before {
    content: "+";
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

.button-container {
    text-align: right;
    padding-right: 50px;
}

.add{

    font-size: 15px;
    font-weight: bold;margin-left: auto;
    display: block;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

#caption {
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.friend-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.action-button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.action-button img {
    width: 20px; /* Adjust size as needed */
    height: 20px;
    margin: 200px;
}

.a{
    border:  #FFC0CB,;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
}


@media (max-width:768px){
    .container{
        padding:20px;
    }
}
