@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container{
    padding:15px 9%;
    padding-bottom: 100px;
}

.heading{
    text-align: center;
    padding-bottom: 15px;
    color:#000;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 20px;
    border: 1px solid #bd74ed;
    background-color: #bd74ed;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

#caption {
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}
