@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container{
    padding:15px 9%;
    padding-bottom: 100px;
}

.heading{
    text-align: center;
    padding-bottom: 15px;
    color:#000;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.bud{
    width: 650px;
    position: absolute;
    margin-left: 400px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 20px;
    border: 1px solid #bd74ed;
    background: linear-gradient(to right, #bd74ed, #fac6da, #7eeded);
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.img{
    height: 15px;
    width: 15px;
    margin-left: 5px;
}

.input-container {
    position: relative;
}

.input-container input {
    border: 2px solid transparent;
    width: 100%;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
    margin-bottom: 2em;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.input-container input:hover {
    border-color: #bd74ed;
}

.input-container input:focus {
    border-color: #bd74ed;
    background-color: white;
}

.input-container .gradient-overlay::after {
    content: '';
    position: absolute;
    top: -6%; 
    left: -0.3%;
    right: -0.7%; 
    bottom: 35%; 
    background: linear-gradient(to right, #bd74ed, #fac6da, #7eeded);
    z-index: -1;
    border-radius: 12px; /* Adjusted to make the overlay 2px bigger */
    transition: opacity 0.3s ease; 
    opacity: 0; 
}

.input-container input:hover + .gradient-overlay::after {
    opacity: 0.3; /* Adjusted opacity value */
}

#caption {
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}
